option {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #000000;
}
select{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #000000;
}